<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>is it new year</title>
    <style media="screen">
      body {
        text-align : center;
      }
    </style>
  </head>
  <body>
    {% if new_year %}
      <h1>YES!!!! Happy New Year...</h1>
    {% else %}
      <h1>NO!! Get your life...</h1>
    {% endif %}
  </body>
</html>
